#mediaBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaBarLogo {
  width: 35px;
  margin-left: 10px;
}

.mediaBarLogo:hover {
  filter: brightness(120%);
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBarLogo {
  width: 150px;
  margin-left: 10px;
}